:root {
    --orange: #ef997c;
    --blue: #293575;
    --black: #1e1f1f;
    --white: #fefefe;
    --gray: #d5d5d5;
}

body{
    font-family: "Open Sans";
    background: linear-gradient(0deg, var(--orange) 0%, var(--gray) 100%);
    background-attachment: fixed;
}
body a{
    text-decoration:none;
}

.dropdown-item:hover{
    color: black !important;
}

#logo_bar {
    background: linear-gradient(0deg, var(--gray) 0%, var(--white) 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    text-align: center;
}

#nav_bar {
    background-color: var(--white);
    color: white;
    padding: 10px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
    max-width: 200px;
    cursor: pointer;
}
.date-highlight {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: gray;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

/* RESPONSIVE TABS */
#list-tabs {
    display: flex;
}
#list-select {
    display: none;
}
@media (max-width: 1000px) {
    #list-tabs {
        display: none;
    }
    #list-select {
        display: block;
        width: 100%; 
    }
    #loginForm{
        margin: 20px auto;
    }
}

@media (min-width: 1000px) {
    #loginForm{
        position: absolute;top: 25vh; left:33vw;
    }
}